<div class="container-fluid">
  <h2 *ngIf="course">Sections for course: {{course.title}}</h2>
  <h4  *ngIf=" student && student.username !== 'admin'"> Note: you can just register only one section for per course</h4>
  <div *ngIf="student && student.username === 'admin' && student.password === 'admin' && courseId">
    <input [(ngModel)]="sectionName"
           placeholder="Section Name"
           class="form-control">
    <input [(ngModel)]="seats"
           placeholder="Seats available"
           class="form-control">
    <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
      Add Section
    </button>
  </div>

  <div *ngIf="isUpdating">
    <h2>Modifying Section: </h2>
    <input [(ngModel)]="updatingSectionName"
           placeholder="Section Name"
           class="form-control">
    <input [(ngModel)]="updatingSectionSeat"
           placeholder="Seats available"
           class="form-control">
    <button class="btn btn-primary"
    (click)="saveUpdate()">Save Update</button>
  </div>

  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item">
      Name:{{section.name}}   Available Seats:{{section.seats}}
      <button (click)="enroll(section)"
              *ngIf=" student && student.username !== 'admin'"
              class="float-right btn btn-primary">Enroll</button>
      <button class="btn btn-warning"
              (click)="updateSection(section)"
              *ngIf="student && student.username === 'admin'">
        Update
      </button>
      <button class="btn btn-danger"
              (click)="deleteSection(section)"
              *ngIf="student && student.username === 'admin'">
        Delete
      </button>
    </li>
  </ul>

  <a routerLink="/profile">Go Back To Profile</a>
</div>
