<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user.phoneNumber"
         placeholder="phone"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      <button class="btn btn-danger"
      (click)="unenrollment(user._id, enrollment.section._id)">
        un-enroll
      </button>
    </li>
  </ul>
  <a *ngIf="isAdmin" routerLink="/admin">Admin</a>
  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>

</div>
